### Site Settings ###
title               : Tien Nguyen (Jeiz's)
description         : >
                      a dedicated data science learner
                      economics background, non-tech

baseurl             : ""                     # Change to empty quotes if you are hosting your site at <your-username>.github.io directly
repository          : tienngm2049/tienngm2049.github.io     # Change to <your-username>/<your-username>.github.io (or remove it if you don't need remote projects)
remote_theme        : YoussefRaafatNasry/portfolYOU
#open_new_tab        : true                             # Opens external URLs in new tab (works for posts, projects and navbar only)


### Plugins ###
plugins:
  - jemoji


### Navbar Settings ###
nav_exclude:                                            # The following paths are excluded from navbar
  - pages/tags.html
  - pages/404.html
  - pages/index.md
  - documentation/partials/**                           # For Documentation Only


### Author Info ###
author:
  name              : Tien Nguyen
  image             : /images/profile_picture.jpg
# googlescholar     : 
# behance           : your_username
# dribbble          : your_username
  email             : tienngm2049@gmail.com
  facebook          : tienngm2049
  github            : tienngm2049
# gitlab            : your_username
# instagram         : your_username
# kaggle            : your_username
  linkedin          : tienngm2049
# medium            : your_username
# soundcloud        : your_username
# spotify           : your_username
# stackoverflow     : your_user_id
# tumblr            : your_username.tumblr.com
# twitch            : your_username
# twitter           : your_username
# vimeo             : your_username
# youtube           : your_channel_name
# keybase           : your_username


### Posts ###
permalink: /blog/:title


### Collections ###
collections:
  projects:
    output: true
    permalink: /projects/:name                                           # For Documentation Only                            # For Documentation Only


### Disqus ###
disqus:
  shortname: your-short-name-disqus                     # Your website Shortname on disqus


### Analytics ###
analytics:
  enabled: true                                        # Set true to enable analytics
  google:
  tracking_id: GTM-WVWX8BPG


### Defaults for collections ###
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "posts"
    values:
      comments: false                                   # Set to true to enable disqus comments


### Exclude from processing ###
exclude:
  - CONTRIBUTING.md
  - LICENSE
  - "*.log"
