html {
  padding-left: calc(100vw - 100%);
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('../assets/font/SpaceGrotesk-Regular.ttf') format('truetype');
  /* Add more file formats if needed */
}

body {
  font-family: 'Space Grotesk' /* , "Poppins"*/, sans-serif;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
